.header-nav__a{
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
}

.about-us{
    background-image: url(../../template/img/images/blur-orange.png);
    background-position-x: 100%;
    padding: .6rem 2rem;
    background-repeat: no-repeat;
}
.about-grid__icons{
    justify-content: center;
}
.major-panorama__ul{
    list-style-image: url('../../template/img/images/list.svg') ;
    margin-left: .7rem;
}
.services-card{
    background-color: #F6F6F6;
    padding: 2rem;
    margin: 1rem;
    width: 256px;
    box-shadow: -4px 5px 7px -2px rgba(0,0,0,0.53);

}
.services-card__img{
    width: 76.9px;
    height: 76.9px;
}
.services-card__subtitle{
    color: #000;
    margin-top: 16px;
    text-align: center;
}
#projects{
    background-image: url(../../template/img/images/banner-projects.png)
}

.projects-btn__know{
    background-color: #FFA600;
    font-family: 'Poppins', sans-serif;
    padding: .2rem 1rem;
    font-size: 15px;

}

.section-team__title{
    border-left: 4px solid #FFA600;
    padding-left: 1rem;
}
.section-team__title h5{
    line-height: unset;
    margin-bottom:  0px;
}
.section-team__title h3{
    margin-bottom:  0px;
}
#contact{
    overflow: visible;
    min-height: 640px;
    display: flex;

}
.contact-card{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.37);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.37);
border-radius: 1rem;
padding-block: 2rem;
position: relative;
margin-top: 150px;
}
.contact-card .contact-card__text::after{
    content: "";
    width: 170%;
    margin-left: -16px;
    height: 4px;
    display: block;
    background: linear-gradient(90deg, rgba(239,85,26,1) 0%, rgba(243,115,38,1) 30%, rgba(187,186,249,1) 70%, rgba(244,55,52,1) 100%);;
}
.contact-card__title h5{
    line-height: unset;
    margin-bottom:  0px;
    color: #EF551A;
    font-weight: 300;
}
.contact-card__title h3{
    margin-bottom:  0px;
}
.contact-card__mainsub{
    font-size: .6rem;
    margin-top: 10px;
}

.contact-card__form{
    position: absolute !important;
    right: 5%;
    top: -33%;
    border: 0;
    min-height: 450px;
    max-width: 520px;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}
.contact-card__form .card-header{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0;
}
.contact-card__input{
    width: 48.5%;
    background-color:#F5F5F6;
    border: 1px solid #BBBAF9;
    border-radius: .4rem;
    padding:.5rem 1rem;
    font-size: .6rem;
    font-family: 'Poppins', sans-serif;
}
.contact-card__textarea{
    width: 100%;
    background-color:#F5F5F6;
    border: 1px solid #BBBAF9;
    border-radius: .4rem;
    padding:.5rem 1rem;
    font-size: .6rem;
    margin-top: .4rem;
    font-family: 'Poppins', sans-serif;
}
.contact-card__input::placeholder{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .6rem;
    font-family: 'Poppins', sans-serif;
}
.contact-card__textarea::placeholder{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .6rem;
    font-family: 'Poppins', sans-serif;
}
.contact-card__submit{
    color: #fff;
    margin-block: 1rem;

    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: .3rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background: rgb(244,55,52);
background: linear-gradient(90deg, rgba(244,55,52,1) 0%, rgba(254,185,67,1) 100%);

}
.contact-card__subtitle{
    font-size: .6rem;
    /* margin-top: 1rem; */
}
.countries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 100px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; border-right: 0px; }
    .div6 { grid-area: 2 / 1 / 3 / 2; }
    .div7 { grid-area: 2 / 2 / 3 / 3; }
    .div8 { grid-area: 2 / 3 / 3 / 4; }
    .div9 { grid-area: 2 / 4 / 3 / 5; }
    .div10 { grid-area: 2 / 5 / 3 / 6;  border-right: 0px; }
 .countries-div__item{
     display: flex;
     flex-direction: column;
     align-items: center;
     border-right: 2px solid #B5B5B5;
 }
 .countries-div__item p{
    color: #000000;
    text-align: center;
    margin-block: 5px;
 }
 .countries-div__item strong{
    text-align: center;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
 }
 .countries-div__item .soon{
    text-align: center;
    color: #A7A7A7;
    margin-block: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
 }
 .footer-nav__socials{
     display:flex;
     list-style: none;
 }
 .footer-nav__socials li{
    padding-inline: .5rem;
 }
