.about-us{
    background-image: url(../../template/img/images/blur-orange.png);
    background-position-x: 100%;
    padding: .6rem 2rem;
    background-repeat: no-repeat;
}
.major-panorama__ul{
    list-style-image: url('../../template/img/images/list.svg') ;
    margin-left: .7rem;
}
.services-card{
    background-color: #F6F6F6;
    padding: 2rem;
    margin: 1rem;
    width: 256px;
    box-shadow: -4px 5px 7px -2px rgba(0,0,0,0.53);

}
.services-card__img{
    width: 76.9px;
    height: 76.9px;
}
.services-card__subtitle{
    color: #000;
    margin-top: 16px;
    text-align: center;
}
.projects{
    background-image: url(../../template/img/images/banner-projects.png)
}

.projects-btn__know{
    background-color: #FFA600;
    font-family: 'Poppins', sans-serif;
    padding: .2rem 1rem;
    font-size: 12px;

}
